* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.gallery-item-bg {
    position: relative;
    height: 100vh;
}

.images_gallery {
    height: 100vh;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: all .4s ease;
}

.gallery-image.img_zoom {
    width: 960px;
    height: 100vh;
    object-fit: cover;
}

.images {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png);
    z-index: 2;
    top: 0;
    left: 0;
}

.content_items {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 10;
}

.content_items h2 {
    color: #fff;
    font-size: 90px;
    font-family: 'Dancing Script', arial, serif;
    text-shadow: 1px 1px 2px #000;
}

.content_items p {
    color: #fff;
    background: url(../images/bg_content.png);
    width: 500px;
    padding: 40px;
    font-family: 'PT Sans Narrow', arial, serif;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #000;
    box-shadow: 1px 1px 5px #202020;
    border: 4px solid #fff;
}

.thumbs {
    position: fixed;
    z-index: 12;
    right: 50px;
    top: 50%;
    margin-top: -70px;
    border: 4px solid #fff;
    box-shadow: 1px 1px 5px #202020;
    -webkit-box-reflect: below 5px -webkit-gradient( linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(rgb(18, 18, 18)));
}

.thumbs img {
    display: block;
    width: 250px;
}

.next,
.prev {
    width: 35px;
    height: 14px;
    position: fixed;
    top: 50%;
    right: 320px;
    z-index: 100;
    background: url(../images/nav.png);
    cursor: pointer;
    opacity: 0.5;
}

.next {
    background-position: 0px -14px;
    margin-top: 80px;
}

.prev {
    background-position: 0px 0px;
    margin-top: -55px;
}

.next:hover,
.prev:hover {
    opacity: 0.9;
}

.zoom,
.fullscreen {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    z-index: 100;
    opacity: 0.6;
    background: url(../images/icons.png);
}

.zoom {
    background-position: 0px -20px;
}

.fullscreen {
    background-position: 0px 0px;
}

.zoom:hover,
.fullscreen:hover {
    opacity: 0.9;
}

.images-actions {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 350px;
}