/* About Section Start */

.header-text h2 {
    font-family: "PoppinsBold";
    font-size: 128px;
    text-transform: uppercase;
    color: var(--color-iron);
    opacity: 0.5;
}

.header-text p {
    font-family: "PoppinsBold";
    font-size: 35px;
}

.about-information h1 {
    font-family: "PoppinsBold";
    font-size: 32px;
    margin-bottom: 25px;
}

.about-information p {
    font-family: "PoppinsLight";
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-cape-cod);
}

.about-information h1 span,
.list ul li a {
    color: var(--color-mountain-meadow);
}

.list ul li span {
    font-family: "PoppinsBold";
    font-size: 18px;
    color: var(--color-cape-cod);
    margin-right: 5px;
}

.list {
    padding-left: 40px;
}

.list ul li {
    font-family: "PoppinsLight";
    font-size: 18px;
    color: var(--color-cape-cod);
    border-bottom: 1px solid var(--color-gallery);
    padding-top: 15px;
    padding-bottom: 15px;
}


/* About Section End */