/* What I do? Section Start */

.row-list {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 40px;
}

.list-groups .fa-html5 {
    font-size: 80px;
    color: var(--color-blaze-orange);
}

.list-groups .fa-css3-alt {
    font-size: 80px;
    color: var(--color-fun-blue);
}

.list-groups .fa-bootstrap {
    font-size: 80px;
    color: var(--color-studio);
}

.list-groups .fa-js {
    font-size: 80px;
    color: var(--color-gold);
}

.item {
    padding-left: 20px;
}

.item h1 {
    font-family: "Poppins";
    font-size: 25px;
    color: var(--color-charade);
}

.item p {
    font-family: "PoppinsLight", sans-serif;
    color: var(--color-cape-cod);
    padding-top: 10px;
    line-height: 1.5;
}


/* What I do? Section End */


/* My Skills Section Start */

.row-skills {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 40px;
}

.skills-section h2 {
    font-family: "PoppinsBold";
    font-size: 28px;
    color: var(--color-charade);
}

.skill-item {
    font-family: "Poppins";
    font-size: 18px;
    color: var(--color-charade);
}

.progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: 12px;
    background-color: var(--color-geyser);
    border-radius: .25rem;
}

.progress-bar {
    background-color: var(--color-mountain-meadow);
}


/* My Skills Section End */