/* What I do? Section Start */

.item h1 {
    font-family: "Poppins";
    font-size: 20px;
    color: var(--color-charade);
}

.item p {
    font-family: "PoppinsLight", sans-serif;
    color: var(--color-cape-cod);
    padding-top: 10px;
    line-height: 1.5;
}

.fa-html5,
.fa-css3-alt,
.fa-bootstrap,
.fa-js,
.fa-python {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.list-groups .fa-html5,
.list-groups .fa-css3-alt,
.list-groups .fa-bootstrap,
.list-groups .fa-js,
.list-groups .fa-python {
    font-size: 35px;
    color: var(--color-mountain-meadow);
}

.list-icon:hover .fa-html5 {
    color: var(--color-flamingo);
    transition: all .3s ease;
}

.list-icon:hover .fa-css3-alt {
    color: var(--color-fun-blue);
    transition: all .3s ease;
}

.list-icon:hover .fa-bootstrap {
    color: var(--color-studio);
    transition: all .3s ease;
}

.list-icon:hover .fa-js {
    color: var(--color-gold);
    transition: all .3s ease;
}

.list-icon:hover .fa-python {
    color: #306998;
    transition: all .3s ease;
}

.item {
    padding-left: 20px;
}


/* What I do? Section End */