:root {
    --color-white: #FFFFFF;
    --color-gallery: #EAEAEA;
    --color-iron: #DEE3E4;
    --color-athens-gray: #F8F9FA;
    --color-geyser: #D4E0E2;
    --color-cod-gray: #111111;
    --color-shark: #212529;
    --color-charade: #252B33;
    --color-cape-cod: #4C4D4D;
    --color-pale-sky: #6C757D;
    --color-abbey: #4D555A;
    --color-mountain-meadow: #20C997;
    --color-mountain-meadow-bold: #1CAD82;
    --color-amber: #FFC107;
    --color-gold: #F7D604;
    --color-cobalt: #3B5998;
    --color-lapis-lazuli: #306998;
    --color-fun-blue: #156AA6;
    --color-dodger-blue: #1D9BF0;
    --color-flamingo: #F56040;
    --color-blaze-orange: #FC6704;
    --color-studio: #7952B3;
    --bs-dark-rgb: 33, 37, 41;
    --bs-mirage-rgb: 23, 28, 36;
}