:root {
    --color-white: #ffffff;
    --color-iron: #DEE3E4;
    --color-athens-gray: #F8F9FA;
    --color-cod-gray: #111111;
    --color-shark: #212529;
    --color-charade: #252B33;
    --color-cape-cod: #4C4D4D;
    --color-pale-sky: #6C757D;
    --color-abbey: #4D555A;
    --color-mountain-meadow: #20C795;
    --color-amber: #FFC107;
    --color-cobalt: #0046B6;
    --color-dodger-blue: #1D9BF0;
    --color-flamingo: #F56040;
}