* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #41d0c9;
    background-image: linear-gradient(50deg, #65a5ee 5%, #3df088 50%, #3ef9f0 100%);
}

.center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    text-align: center;
}

.box .num h1 {
    font-size: 60px;
    margin-bottom: 25px;
    color: #fff;
}

.box-items {
    display: flex;
}

.box-items button {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    font-size: 40px;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background: #19cece;
}