/* This is test comment */

@font-face {
    font-family: PoppinsFont;
    src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: PoppinsFontBold;
    src: url(../fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: PoppinsFontStatic;
    src: url(../fonts/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
    font-display: swap;
}

* {
    font-family: "PoppinsFontStatic";
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

dl,
ol,
ul {
    margin-bottom: 0rem;
    padding-left: 0px;
    list-style-type: none;
}

ul a,
.header-navbar-name a {
    text-decoration: none;
}

.header-navbar-name h1 {
    color: #fff;
    font-weight: 700;
}

.header-navbar-menu ul a {
    color: #fff;
    font-size: 17px;
    padding: 1.3rem;
}

.header-navbar-menu ul a:hover {
    color: #20c997;
}

.header-navbar-name {
    color: #fff;
}

.home {
    position: relative;
}

.position-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 4, 0.7);
    z-index: 0;
}

.position-center {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
}


/* .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */

.header-section {
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.header-navbar-social a {
    margin-left: 8px;
}

.main-content-repot h1 {
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    padding-top: 10px;
}

.main-content-text h3 {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.main-content-subtitle p {
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 10px;
}

.btn-outline-success {
    padding: .7rem 2.3rem;
    margin-top: 10px;
    border-radius: 2rem;
    color: #20c997;
    border-color: #20c997;
}

.btn-outline-success:hover {
    background-color: #20c997;
}