/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
    /*========== Colors ==========*/
    --first-color: #24232c;
    --first-color-alt: #16161a;
    --title-color: #232324;
    --text-color: #5a5a5a;
    --body-color: #eff8f7;
    --container-color: #FFF;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
}