<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <!-- Css -->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">

        <!-- Header Section Start -->
        <h1 class="header-text">To Do App</h1>
        <!-- Header Section End -->

        <!-- Form Section Start -->
        <form class="form-item" action="/add" method="post">
            <div class="form">
                <label>Todo Title</label>
                <br>
                <input type="text" name="title" placeholder="Enter Todo..." required>
            </div>
            <button type="submit">Add</button>
        </form>
        <!-- Form Section End -->

        <!-- Table Section Start -->
        <div id="table-item">
            <div class="hr-line">
                <hr>
            </div>

            {% for todo in todo_list %}
            <div class="todo-list mb-2">
                <p class="mb-2">{{todo.id }}. {{ todo.title }}</p>

                {% if todo.complete == False %}
                <button class="not-complete" disabled><span>Not Complete</span></button> {% else %}
                <button class="complete"><span>Completed</span></button> {% endif %}

                <a class="update-btn" href="/update/{{ todo.id }}">Update</a>
                <a class="delete-btn" href="/delete/{{ todo.id }}">Delete</a>
                <a class="edit-btn" href="/edit/{{ todo.id }}">Edit</a>
            </div>
            {% endfor %}
        </div>
        <!-- Table Section End -->

    </div>
</body>

</html>